@model YmagiWebMvc.Models.Insumo

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaldoEstoque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaldoEstoque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.Id">Editar</a>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
