@model IEnumerable<YmagiWebMvc.Models.Insumo>

@{
    ViewData["Title"] = "Insumos";
}

<h3>Informações Insumos</h3>

<p>
    <a asp-action="Create" class="btn btn-info">Cadastrar Insumos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="Delete" class="btn btn-info" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
