@model YmagiWebMvc.Models.Voluntario;

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>


<div>
    <h4>Voluntário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Osc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Osc.NomeFantasia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
    <a asp-action="Index">Voltar</a>
</div>

