@model IEnumerable<YmagiWebMvc.Models.Voluntario>

@{
    ViewData["Title"] = "Voluntarios";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-action="Cadastro" class="btn btn-info">Novo Voluntario</a>
</p>

<table class="table">
    <thead>
        <tr>                                   
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osc)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="Delete" class="btn btn-info" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>

        }
    </tbody>

</table>
