@model IEnumerable<YmagiWebMvc.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h3>Informações Produtos</h3>

<p>
    <a asp-action="Create" class="btn btn-info">Cadastrar Produtos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="Delete" class="btn btn-info" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
